// Buttons
// ==========================================================================

.btn, 
button, 
input[type="submit"] {
    display: block;
	padding: 0 20px;
	color: $light-color;
	text-align: center;
	line-height: 35px;
	font-size: $default-fontsize;
	line-height: 30px;
	text-decoration: none;
	background-color: $primary-color-light!important;
	border: 0px;
    border-radius: 3px;
	transition: .3s ease-out;
	cursor: pointer;
	@extend .shadow;
	&:hover {
		background-color: $primary-color!important;
	}
}