// Modal
// ==========================================================================

.modal {
	display: none;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 1200;
	transition: .5s ease-out;
	.exit-modal {
		position: absolute;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		background-color: rgba(70, 64, 64, 0.62);
	}
	.modal-content {
		position: relative;
		width: 90vw;
		max-width: 600px;
		margin: 15vh auto 0;
		background-color: $light-color;
		overflow: hidden;	
		.close-modal {
			position: absolute;
			right: 0px;
			top: 0px;
			color: $light-color;
			font-size: 20px;
			line-height: 28px;
			z-index: 2;
			cursor: pointer;
			background-color: $dark-color;
		}
		.modal-body {
			overflow-y: auto;
		    overflow-x: hidden;
		}
	}
}

#popUp {
	@media #{$medium-and-up} {
		.row { display: flex; }
	}
	.content-newsletter { 
		padding: 20px;
		input { margin-left: auto!important; margin-right: auto!important; }
	}
	.bg-image {
		background-image: url(../images/popup.jpg);
		&.hide-on-med-and-up { height: 200px; }
	}
}