// Typography
// ==========================================================================

a {
  text-decoration: none;
  color: $dark-color;
  cursor: pointer;
  // Gets rid of tap active state
  -webkit-tap-highlight-color: transparent;
  @include transition(.3s ease-out);
  &:not(.btn):hover { 
    text-decoration: underline;
    color: $primary-color-dark;
  }
}

html{
  line-height: 1.5;
  font-family: $font-default;
  color: $primary-color-dark;
  letter-spacing: 1px;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
  margin: 0px;
}

// Header Styles
h1 { font-size: $h1-fontsize;}
h2 { font-size: $h2-fontsize;}
h3 { font-size: $h3-fontsize;}
h4 { font-size: $h4-fontsize;}
h5 { font-size: $h5-fontsize;}
h6 { font-size: $h6-fontsize;}

p { 
  margin: 0px; 
  font-size: $default-fontsize;
  line-height: $default-fontsize * 1.5;
}

// Text Styles
em                            { font-style: italic; }
small                         { font-size: 75%; }

.font-normal                  { font-family: $font-default; }
.font-semibold                { font-family: $font-default-semibold; }
.font-strong, strong          { font-family: $font-default-bold; }

.font-size-medium             { 
  font-size: $default-fontsize * 1.5; 
  line-height: $default-fontsize * 2.5; 
}

.uppercase                    { text-transform: uppercase; }
.lowercase                    { text-transform: lowercase; }
.capitalize                   { text-transform: capitalize; }

.text-underline               { text-decoration: underline; }
.text-underline-hover:hover   { text-decoration: underline; }
.text-line-through            { text-decoration: line-through; }

.text-center                  { text-align: center; } 
.text-left                    { text-align: left; }
.text-right                   { text-align: right; }
.text-justify                 { text-align: justify; }

.text-last-center             { text-align-last: center; }
.text-last-left               { text-align-last: left; }
.text-last-right              { text-align-last: right; }
.text-last-justify            { text-align-last: justify; }

.line-text-overflow {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}